.revDarkGray {
    color: #474C55
}

.revOrange {
    color: #F26925
}

.revBlue {
    color: #72A4C2
}

.revYellow {
    color: #fcb414
}

.revLightGray {
    color: #B9B9BA
}

.MuiToolbar-root {
    background: #dadada;
}